

@media (max-width: 768px) {

/* ====== navbar responsive codwe ======== */

.nav{

    padding: 8px 0;

    }

    .logo{

margin-left: 20px;

    }

.logo>img{

height: 12vw;
width: 12vw;


}



    /* ==== Responsive nav bar button code ==== */

    .mobile-navbar-btn {

        display: block;
        margin-right: 16px;
         

    }

    .nav-list {

        position: absolute;
        display: flex;
        flex-direction: column;
        top: 60px;
       width: 50%;
        background: skyblue;
        padding: 20px 0;
        transform: translateX(200%);

    }

    .nav-list li>a {

        text-decoration: none;
        font-family: sans-serif;
        font-size: 16px;
        color: whitesmoke;
    }
    


    .active .nav-list {


        transform: translateX(100%);

    }

   

    .mobile-navbar-icon1,
.mobile-navbar-icon2 {
   
font-size: 42px;


}

    .active .mobile-navbar-icon2 {

        display: block;


    }


    .active .mobile-navbar-icon1 {

        display: none;


    }

/* ======project section using html css and js======== */


.project-list {


overflow-x: auto;


 }


}